.main-nav {
    display: flex;
    padding: 4px 15px 2px;
    justify-content: space-between;
}

.left-nav > ul,
.right-nav > ul {
    display: flex;
    align-items: center;   
}

.left-nav > ul > li {
    font-family: nyt-franklin,helvetica,arial,sans-serif;
	text-transform: uppercase;
    font-size: 11px;
    margin: 10px 15px;
}

.right-nav > ul > li {
    margin: 8px 2px;
}

.right-nav > ul > li:last-of-type {
    font-size: 180%;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
    
}

.left-nav span {

}


.right-nav i {

}