.section-nav {
    display:flex;
    justify-content: center;

}

.section-nav-list {
    display:flex;
    justify-content: space-around;
    width: 800px;
    margin: 10px 0px;
    font-size: 105%;
}

